/* HalloweenPumpkin */
body {
	background:#000;
	color:#ddd;
}
h1,h2,h3,h4,h5,h6 {
	color:#FDBC0A;
}
acronym, abbr {
	border-bottom:1px dashed #ddd;
}
a abbr,a acronym {
	border-bottom:none;
}
hr {
	background:#000;
	color:#000
}
pre {
	background:#444;
	color:#fff;
}
blockquote {
	background:url(images/quote.gif) top left no-repeat;
	color:#DCB99E;
}
legend {
	background:#ED7409;
	color:#000;
}
fieldset {
	background:#333;
	color:#ddd;
	border:1px dashed #7A3C06;
}
fieldset fieldset {
	background:#FFF7E0;
	border-color:#fc6;
}
input,textarea,select {
	background:#F2E8DF;
	color:#666;
	border:1px solid #000;
}
input:focus,input.focus,textarea:focus,textarea.focus {
	background:#fff;
	border-color:#ED7409;
}
.submit,input[type=submit] {
	background:#ED7409;
	color:#000;
	border:1px solid #AF5002;
}
.submit:hover,.submit:active,.submit:focus {
	background:#FDBC0A;
	color:#000;
	border:1px solid #D49C02;
}
ins {
	text-decoration:none;
}
table,td {
	border:1px solid #AF5002;
}
th {
	background:#ED7409;
	color:#000;
	border:1px solid #AF5002;
}
tr.alt {
	background:#555;
}
a {
	color:#ED7409;
}
a:visited {
	color:#D25E02;
}
a:active,a:focus {
	background:#FDBC0A;
	color:#000;
}
a img {
	border:1px solid #000;
}
a:hover img,a:active img,a:focus img {
	border-color:#ED7409;
}

/* LAYOUT */
.jumplinks a:hover,.jumplinks a:active,.jumplinks a:focus {
	background:#FDBC0A;
	color:#000;
	border:1px solid #ED7409;
}
	
/* HEADER */
#header {
	background:#000 url(images/header.jpg) no-repeat bottom left;
}
#header h1 {
	color:#FDBC0A;
}
#logo {
	background:url(images/moon.jpg) no-repeat top right;
}

/* TOP NAVS */
.navwrap {
	background:#000;
}
.nav {
	background:#ED7409;
}
#searchform input:focus,#searchform input.focus {
	border-color:#ED7409;
}
.navwrap li a {
	background:#4c4b4c;
	color:#fff;
	border:1px solid #000;
}
.navwrap .current_page_item a {
	background:#ED7409;
	color:#000;
	border-color:#AF5002;
}
.nav li a {
	background:#AF5002;
	color:#fff;
	border-color:#7A3C06;
}
.nav .current_sticky a {
	background:#444;
	color:#FDBC0A;
	border-color:#000;
}
.navwrap li a:hover,.navwrap li a:active,.navwrap li a:focus,
.nav li a:hover,.nav li a:active,.nav li a:focus {
	background:#fc6;
	color:#333;
	border-color:#AF5002;
}

/* CONTENT */
.post,.page,.search-results {
	background:#000 url(images/gradient.jpg) top left repeat-x;
	color:#ddd;
}
.post-title {
	color:#FDBC0A;
	border-bottom:4px double #000;
}
#content ul li {
	list-style-image:url(images/bullet.gif);
}
#content ul li ul li {
	list-style-image:url(images/bullet2.gif);
}
#content ul li ul li ul li {
	list-style-image:none;
}
#content .comment_links li,#content .search-result {
	list-style-image:none;
	list-style:none;
}
#showchildren {
	background:#000;
	border:4px double #7A3C06;
}
#content #showchildren li {
	list-style-image:url(images/pages.gif);
}

.searchterm {
	color:#DCB99E;
}
.search-result {
	border-bottom: 4px double #000;
}
.search-result .postfoot {
	border-top:none;
}

/* page widgets */
.widget_box {
	background:#444;
	color:#eee;
	border:4px double #ED7409;
}
.widget_box h3 {
	background:#ED7409;
}
.widget_box h3,.widget_box h3 a {
	color:#000;
}

.postfoot {
	border-top:4px double #000;
}
.prevnext .prev a,.page .backtohome a {
	background:url(images/arrow_left.gif) no-repeat center left;
}
.prevnext .next a {
	background:url(images/arrow_right.gif) no-repeat center right;
}
.prevnext .prev a:active,.prevnext .prev a:focus,.prevnext .next a:active,.prevnext .next a:focus {
	background-color:#FDBC0A;
	color:#000;
}

/* SIDEBAR */
.sidebar {
	background:#000 url(images/sidebar.jpg) top left repeat-y;
	color:#ddd;
}
.sidebar #links li {
	color:#DCB99E;
}
.sidebar .current-cat a {
	color:#FDBC0A;
}
.sidebar .current-cat ul a {
	color:#ED7409;
}
.sidebar .current-cat a:active,.sidebar .current-cat a:focus {
	background:#FDBC0A;
	color:#000;
}

/* FOOTER */
#footer {
	background:#ED7409;
	color:#000;
}
#footer a:link,#footer a:visited {
	color:#000;
}

/* tiplets */
#tiplets .email-friend {
	background:url(images/email-friend.gif) no-repeat top left;
}
#tiplets #printpage {
	background:url(images/print.png) no-repeat top left;
}

/* no bullets */
#content #tiplets li,#content #commentlist li {
	list-style:none;
	list-style-image:none;
}

/* RSS */
a.rss {
	background:url(images/rss.png) no-repeat top left;
}
a.rss:hover,a.rss:active,a.rss:focus {
	background:url(images/rss-on.png) no-repeat top left;
}
.rss-feeds li a {
	background:url(images/tiny-rss.png) no-repeat top left;
}
.rss-feeds li a:hover,.rss-feeds li a:active,.rss-feeds li a:focus {
	background:url(images/tiny-rss-on.png) no-repeat top left;
}

/* more link for category pages */
.cat-more {
	background:url(images/arrow_right.gif) bottom right no-repeat;
}

/* comments */
#comments {
	border-top:4px double #666;
}
#commentlist .even {
	background:#444;
	color:#ddd;
	border:1px solid #000;
}
#commentlist .odd {
	background:#000;
}
#commentlist .reply-edit li {
	border:none;
}

.error,.warning,.req {
	color:#FDBC0A;
}
