    /*
        Set the "zoom" property to "normal" since it is set to "1" by the 
        ".example-container .bd" rule in yui.css and this causes a Menu
        instance's width to expand to 100% of the browser viewport.
    */
    
    body {
    	color: #666666;
    }
    
    div.yuimenu .bd {
    
        zoom: normal;
    
    }
    
    /* main building blocks */
    #fullpage {
    	width: 100%
    }
    
    #mainpage {
    	width: 1080px;
    	height: 100%;
    	margin: 0px auto;
    }
    
		#toolbar {
			width: 100%;
			height: 75px;
			z-index: 50;
		}   
		
		#purple {
			width: 100%;
			height: 265px;
			margin-top: -40px;
			background-image: url(assets/purple-fade.png);
		}
		
		#sample-box {
			width: 100%;
			margin-top: -170px;
			z-index: 5;
		}
		
		#sample {
			margin-left: 35px;
		} 
		
		#blue {
			margin-top: -81px;
			background-image: url(assets/blue-background.gif);
			padding-top: 90px;
			padding-bottom: 130px;
		}
		
		/* toolbar */
		#menubuttonsfrommarkup {
			float: left;
			height: 75px;
			width: 934px;
			background-image: url(assets/toolbar/light_blue_02.png);
		} 
    .yui-skin-sam .yui-button {
    	border-style: none
    }
    
    .yui-skin-sam .yui-button .first-child {
    	border-style: none
    }		
    
    #toolbar .yui-button {
    	height: 35px;
    	background-image: none;    	
    }
    
    .yui-skin-sam #toolbar .yui-button button {
    	height: 35px;
    	font-family: Arial;
    	font-style: bold;
    	font-size: 20px;
    	background-image: none;
    	color: #666666;
    }
    
    .yui-skin-sam #toolbar .yui-push-button-hover button {
    	color: #FF0000;
    }
    
    .yui-skin-sam #toolbar .yui-push-button-active button {
    	color: #000099;
    }
    
    #how {
    	margin-left: 470px;
    }
				
		/* msg */
		#message {
			font-family: Arial;
			font-size: 18px;
			color: #FFFFFF;
			text-indent: 20px;
			padding-top: 30px;
		}
		
		/* login */
		#login-box {
			width: 720px;
			margin-left: auto;
			margin-right: auto;

			padding-left: 20px;
			padding-right: 20px;
			padding-top: 8px;
			padding-bottom: 8px;
			
			background-image: url(assets/Signup-box-color.png);
			
			border: 1px solid;
			border-color: #666666;
		}
		
		#login-box .label {
			color: #666666;
			font-family: Arial;
			font-size: 19px;
			margin-top: 8px;
		}
		
		.login-input {
			width: 100%;
			height: 40px;
			margin-bottom: 8px;
			font-family: Arial;
			font-size: 30px;		
			color: #666666;	
			background: #FFFFFF;
			border: solid 1px rgb(127, 157, 185)
		}
		
		#real-url {
			border: none;
			margin-left: -0.2em;
		}
		
		#signupbutton {
			color: #666666;
			background: none;
			border: none;
		}
		
		#signupbutton button {
			width: 310px;
			height: 50px;
			background: url(assets/SignUp-Button-normal.png);
		}
		
		#signupbutton.yui-button-hover button {
			background: url(assets/SignUp-Button-roll.png);
		}
		
		#signupbutton.yui-button-active button {
			background: url(assets/SignUp-Button-down.png);
		}
        
        #loginbutton {
            color: #666666;
            background: none;
            border: none;
        }
        
        #loginbutton button {
            width: 310px;
            height: 50px;
            background: url(assets/SignUp-Button-normal.png);
        }
        
        #loginbutton.yui-button-hover button {
            background: url(assets/SignUp-Button-roll.png);
        }
        
        #loginbutton.yui-button-active button {
            background: url(assets/SignUp-Button-down.png);
        }		
